.issue {
    vertical-align: top;
    display: block;
    padding: 5px 10px;
    border: 1px solid black;
    margin: 1px;
    max-width: 74ex;
    font-size: 11px;
    overflow: hidden;
}
.issue > .description {
    display: none;
}
.issue > header {
    font-weight: bold;
    font-size: 12px;
}
.issue > .state,
.issue > .notescount {
    float: right;
    padding: 3px 6px;
    margin: 1px;
}
.issue > .state {
    background-color: yellow;
}
.issue > .notescount {
    background-color: #e0e0f0;
}
.label + .label {
    margin-left: 2px;
}

#workflow {
    display: table;
    width: 100%;
    table-layout: fixed;
}
#workflow > section {
    display: table-cell;
    width: 2%;
}
